{% extends 'global/base.html' %}
{% load static %}

{% block title %}Login - FURIA Chatbot{% endblock %}

{% block content %}
    <section class="form-section">
        <div class="form-container">
            <h1>Login</h1>
                {% include 'users/_form.html' with form=form form_action='{% url "users:login" %}' button_text='Entrar' %}  
            <p class="form-link">Não tem uma conta? <a href="{% url 'users:register' %}">Criar uma conta</a></p>
    </section>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'global/css/form.css' %}">
{% endblock %}